@model Post
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10 col-xl-8">
            <nav aria-label="breadcrumb ">
              <ol class="breadcrumb bg-white mb-0 px-0">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item">
                    <a asp-action="@Model.Category?.Slug" asp-controller="the-loai">@Model.Category?.Name</a>
                </li>
              </ol>
            </nav>
        </div>
    </div> 
</div>

<article class="container post-article" post-id="@Model.Id">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10 col-xl-8 text-left">
            <h1 class="font-weight-bold">@Model.Title</h1>
            <div class="text-left mt-3 mb-4">
                 @{var authorFullName = $"{Model.Author.LastName} {Model.Author.FirstName}";}
                <span class="font-weight-bold mr-2">@authorFullName</span>
                <time class="text-muted" datetime="@Model.CreatedAt.ToString("yyyy-MM-dd")">@CreateDateString(Model.CreatedAt)</time>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-lg-10 col-xl-8 border-bottom mb-3">
            <div>
                @Html.Raw(Model.Content)
            </div>
        </div>
        <div class="col-12 col-lg-10 col-xl-8">
            <div class="d-flex flex-row justify-content-between pb-3">
                <div class="d-flex flex-row align-items-center justify-content-start mb-3">
                    <div >
                        <form asp-action="Like" asp-controller="Like" id="like-form">
                            <input  hidden value="@Model.Id" name="PostId"/>
                            @if(user != null)
                            {
                                 <input hidden value="@user.Id" name="UserId"/>
                            }
                            <button class="icon-btn like-btn h5 mb-0 p-0">
                                <i class=" fa-light fa-hands-clapping" id="like-active"></i>
                                <span class="h6 font-weight-light post-like-count" id="like-count">
                                   
                                </span>
                            </button>
                        </form>
                    </div>
                    <div class="text-left h5 mb-0 ml-4">
                       <i class="fa-light fa-comment"></i>
                       <span class="h6 font-weight-light post-like-count" id="comment-count">
                       </span>
                    </div>
                </div>
                 
                <div class="position-relative d-flex align-items-center" id="bookmark_container">
                    <button class="icon-btn" title="Báo cáo" onclick="report('@(user?.Id)', '@(Model.Title)' , '@(Model.Id)')">
                        <i class="fa-light fa-flag"></i>
                    </button>

                    <form asp-controller="Collections" id="collections-add-post-form" >
                        <input name="postId" value="@Model.Id" hidden/>
                    </form>
                    <form asp-action="RemovePost" asp-controller="Collections" id="collections-remove-post-form">
                        <input name="postId" value="@Model.Id" hidden/>
                    </form>
                    <button class="icon-btn bookmarked bookmark_btn" id="bookmark_btn" title="Lưu">
                        <i class="fa-light fa-bookmark"></i>
                    </button>
                </div>
            </div>
            <div class="mb-5">
                <form id="new_comment_form" asp-action="Create" asp-controller="Comment" method="post">
                    <input value="@Model.Id" name="PostId" hidden/>
                    <textarea placeholder="Ý kiến của bản" name="Content" class="rounded form-control" rows="4" required></textarea>
                    <button class="btn btn-custom-primary mt-2 px-4 float-right" id="submit_comment_btn">Gửi</button>
                </form>
            </div>
            <div class="pt-4" id="comment-container">
               
              @* @foreach (var comment in Model.Comments)
               {
                   <div class="media mb-3">
                        <img src="@comment.User?.Avatar?.Url" class="mr-3 rounded-circle avatar-md" alt="@comment.User.FirstName">
                        <div class="media-body">
                            <div class="d-flex flex-row justify-content-between">
                                <h5 class="mt-0">@comment.User.LastName @comment.User.FirstName</h5>  
                                @if(user!=null && user.Id == comment.User.Id)
                                {
                                    <div>
                                        <form asp-action="Delete" asp-controller="Comment" class="delete-form">
                                            <input name="Id" value="@comment.Id" hidden/>
                                            <button class="icon-btn text-danger" type="submit">
                                                <i class="fa-solid fa-trash"></i>
                                            </button>
                                        </form>
                                    </div>
                                }   
                            </div>
                            <p>@comment.Content</p>
                        </div>
                    </div>
               }
            </div>*@
        </div>
    </div>
</article>

@{
    string CreateDateString(DateTime dateTime)
    {
        var days = new string[] {"Chủ Nhật", "Thứ Hai", "Thứ Ba", "Thứ Tư", "Thứ Năm", "Thứ Sáu", "Thứ Bảy"};
        return $"{days[(int)dateTime.DayOfWeek]}, {dateTime.ToString("dd/MM/yyyy")}";
    }
    
}

@section Scripts {
 <script src="~/js/detail.js" type="text/javascript" ></script>
<script>
    getComments('@user?.Id', '@Model.Id');
    getLikes('@user?.Id', '@Model.Id');
</script>
}