@using MyBlog.Models.ViewModels
@model Pagination


<nav aria-label="Page navigation example">
    <ul class="pagination">
        @{
            var preClass =Model.currentPage == 1 ? "disabled" : "";
            var nextClass = Model.currentPage == Model.maxPage ? "disabled": "";
        }
        <li class="page-item @preClass">
            <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @{
            for(int p = 1; p <= Model.maxPage; p++)
            {
                if (p == Model.currentPage)
                {
                    <li class="page-item"><a class="page-link  bg-info text-light" asp-route-page="@p" data-page="@p">@p</a></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link" asp-route-page="@p" data-page="@p">@p</a></li>
                }  
            }
        }
        <li class="page-item @nextClass">
            <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

<script>
    $(".page-link").on('click', function(event) {
        
        event.preventDefault();
        let page = $(event.target).data("page")
        if(window.location.href.includes("?")){
            let index = window.location.href.indexOf("page=")
            let lastIndex = window.location.href.indexOf("&&", index)
            if(index == -1)
                window.location.href+=`&&page=${page}`
            else if(lastIndex == -1){
                let href = window.location.href.substring(0, index);
                href += `page=${page}`
                window.location.href = href
            }else{
                let href = window.location.href.slice(index, lastIndex)
                window.location.href = window.location.href.replace(href, `page=${page}`)
            }
        }else{
            window.location.href += `?page=${page}`
        }
       
    });
</script>