@using MyBlog.Models.ViewModels;
@using System.Text.RegularExpressions;
@model Category
@{
    Layout = "_Layout";
    bool isPostsPage = Model.Posts != null;
    bool isDocumentsPage = Model.Documents != null;
    string displayName;
    if (isPostsPage && isDocumentsPage) displayName = Model.Name;
    else if (isPostsPage) displayName =  Model.Name;
    else if (isDocumentsPage) displayName = Model.Name;
    else displayName = Model.Name;
}
<link rel="stylesheet" href="~/css/home.css" />



<div class="row">
    <div class="col-8 border-right">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="mb-3 d-flex align-items-center "> 
                    <div class="rounded-circle bg-light pl-1 pr-2 py-1 mr-2">
                        <i class="fa-solid fa-tags rotate-90"></i>
                    </div>
                    <h1 class="font-weight-bolder">@displayName</h1>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="border-bottom mb-3 d-flex">
                    @if (Model.Slug.Contains("search?query="))
                    {
                        <a href="@(Model.Slug + "&type=bai-viet")" class="text-reset mr-3 px-2">
                            <div class="pb-2 font-weight-light @(isPostsPage?"border-bottom-dark":"")">Bài viết</div>
                        </a>
                        <a href="@(Model.Slug + "&type=tai-lieu")" class="text-reset">
                            <div class="pb-2 font-weight-light @(isDocumentsPage?"border-bottom-dark":"")">Tài liệu</div>
                        </a>
                    }
                    else
                    {                      
                        <a asp-controller="the-loai" asp-action="@Model.Slug" asp-route-type="bai-viet" class="text-reset mr-3 px-2">
                            <div class="pb-2 font-weight-light @(isPostsPage?"border-bottom-dark":"")">Bài viết</div>
                        </a>
                        <a asp-controller="the-loai" asp-action="@Model.Slug" asp-route-type="tai-lieu" class="text-reset">
                            <div class="pb-2 font-weight-light @(isPostsPage?"":"border-bottom-dark")">Tài liệu</div>
                        </a>
                    }
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-10">
                @if (Model.Posts != null && Model.Posts.Count > 0)
                {
                    foreach (var item in Model.Posts)
                    {
                        <div class="border-bottom mt-3">
                            <div class="d-flex align-items-center align-middle">
                                <img style="" class="avatar-sm bg-info rounded-circle" src="https://www.slashfilm.com/img/gallery/avatar-2-release-date-cast-and-more/intro-1632504000.jpg">
                                @{
                                    var itemAuthorFullName = $"{item.Author.LastName} {item.Author.FirstName}";
                                }
                                <span class="small ml-2 mb-0 text-capitalize">@itemAuthorFullName</span>
                                <span class="font-weight-bold mx-1">·</span>
                                <span class="small mb-0 text-muted">@CreateDateString(item.CreatedAt)</span>
                            </div>
                            <div class="row mt-3">
                                <div class="col-9">
                                    <div>
                                        <a href="/Post/@item.Slug" class="text-reset">
                                            <h2 class="item-title mb-1">@item.Title</h2>
                                            <div>
                                                @{
                                                    string rawContent = Regex.Replace(item.Content, "<.*?>", String.Empty);
                                                    var time = rawContent.Split(" ").Length % 60 == 0 ? rawContent.Split(" ").Length / 60 : rawContent.Split(" ").Length / 60 + 1;
                                                    rawContent = rawContent.Substring(0, rawContent.Length > 115 ? 115 : rawContent.Length);
                                                }
                                                <p>@(rawContent.Length < 115 ? Html.Raw(rawContent) : @Html.Raw(rawContent + "..."))</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="py-4">
                                        <a href="/the-loai/@item.Category.Slug" class="badge small font-weight-normal px-2 py-1 badge-pill badge-light">
                                            @item.Category.Name
                                        </a>
                                        <span class="ml-2 small text-muted">@time phút để đọc</span>
                                    </div>
                                </div>
                                <div class="col-3 d-flex justify-content-end align-items-start">
                                    <img src="@item.Thumbnail.Url" style="max-height: 100px; height: 100px; width: 100px; object-fit: cover; object-position: center" />
                                </div>
                            </div>
                        </div>
                    }
                }
                @if (Model.Documents != null && Model.Documents.Count > 0)
                {
                    @foreach (var item in Model.Documents)
                    {
                        <div class="border-bottom mt-3">
                            <div class="d-flex align-items-center align-middle">
                                <img style="" class="avatar-sm bg-info rounded-circle" src="https://www.slashfilm.com/img/gallery/avatar-2-release-date-cast-and-more/intro-1632504000.jpg">
                                @{
                                    var itemAuthorFullName = $"{item.Author.LastName} {item.Author.FirstName}";
                                }
                                <span class="small ml-2 mb-0 text-capitalize">@itemAuthorFullName</span>
                                <span class="font-weight-bold mx-1">·</span>
                                <span class="small mb-0 text-muted">@CreateDateString(item.CreatedAt)</span>
                            </div>
                            <div class="row mt-3">
                                <div class="col-9">
                                    <div>
                                        <a href="/Document/@item.Id" class="text-reset">
                                            <h2 class="item-title mb-1">@item.Name</h2>
                                            <div>
                                                @{
                                                    string rawContent = Regex.Replace(item.Description, "<.*?>", String.Empty);
                                                    var time = rawContent.Split(" ").Length % 60 == 0 ? rawContent.Split(" ").Length / 60 : rawContent.Split(" ").Length / 60 + 1;
                                                    rawContent = rawContent.Substring(0, rawContent.Length > 115 ? 115 : rawContent.Length);
                                                }
                                                <p>@(rawContent.Length < 115 ? Html.Raw(rawContent) : @Html.Raw(rawContent + "..."))</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="py-4">
                                        <a href="/the-loai/@item.Category.Slug" class="badge small font-weight-normal px-2 py-1 badge-pill badge-light">
                                            @item.Category.Name
                                        </a>
                                        <span class="ml-2 small text-muted">@time phút để đọc</span>
                                    </div>
                                </div>
                                <div class="col-3 d-flex justify-content-end align-items-start">
                                    <img src="https://thumbs.dreamstime.com/b/document-icon-vector-stack-paper-sheets-illustration-131104983.jpg" style="max-height: 100px; height: 100px; width: 100px; object-fit: cover; object-position: center" />
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>

    </div>
    <div class="col-4">
        
    </div>
</div>

@{
    string CreateDateString(DateTime dateTime)
    {
        var days = new string[] { "Chủ Nhật", "Thứ Hai", "Thứ Ba", "Thứ Tư", "Thứ Năm", "Thứ Sáu", "Thứ Bảy" };
        return $"{dateTime.ToString("dd/MM/yyyy")}";
    }

}
